.side-nav-bar {
  overflow: hidden;
  font-size: 0.7rem;

  @media (max-width: 991.98px) {
    height: 0;
    border-right: none;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.3);
    transition: height 0.3s;

    &.show {
      height: auto;
    }
  }

  a+div.sub-links {
    display: none;
  }

  a.text-dark+div.sub-links {
    display: block;
  }
}

#sidebar {
  max-width: 15%;
  min-width: 200px;
}