@import './variables';
$font-size-base: 1rem;
@import '../node_modules/bootstrap-scss/bootstrap';

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formula-input {
  text-align: center;
  border: 1px solid #eee;
  min-width: 16px;
}
